/**
 * This is the base processwire template.
 * Author:  Kyle McCarthy
 * Site:    www.kmccarthyweb.com
 * Email:   kyle@kmccarthyweb.com
 */


/**
 * Media Queries
 */

/** navigation **/
@media (min-width: 768px) {
    .nav .navbar-nav {
        float: right;
    }
}
@media (max-width: 767px) {
    .nav .navbar-nav {
        float: left;
    }
}
/**
 * Fonts
 */
@font-face {
    font-family: 'blippo';
    src: url('../fonts/blippo-webfont.eot');
    src: url('../fonts/blippo-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/blippo-webfont.woff') format('woff'),
    url('../fonts/blippo-webfont.ttf') format('truetype'),
    url('../fonts/blippo-webfont.svg#blippoheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Global Styles
 */
body,
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
}
h1, h2, h3, h4, h4, h6 {
    font-weight: 300;
}
footer {
    margin-top: 20px;
    background: #3b3b3b;
    color: #d7d7d7;
    padding: 20px 0;
}
footer a {
    color: #d7d7d7;
    text-decoration: underline;
}
footer p {
    margin-bottom: 5px;
}
.page-main {
    background: #f2eceb;
    color: #6d6d6d;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
}
.main-container {
    padding-top:20px;
    padding-bottom: 20px;
}

/**
 * Navbar
 */
.navbar {
    min-height: 40px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-brand {
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: blippo;
}
.navbar-inverse {
    background: #3b3b3b;
    border: none;
}
.nav .navbar-nav {
    text-transform: lowercase;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

/**
 * Home Page
 */
.call-to-action {
    height: 100%;
    min-height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.call-to-action .ca-video {
    margin-top: 100px;
    margin-bottom: 10px;
}
.social-media {
    margin-top: 10px;
}
.social-media img {
    margin-right: 10px;
    margin-left: 10px;
}
.arrow-wrapper {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 20px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #f2eceb;
    margin-left: -20px;
}
.home-main {
    background: #f2eceb;
    color: #6d6d6d;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
}
.recent-videos .col-sm-6 {
    margin-bottom: 20px;
}

/**
 * Videos
 */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Base Page
 */
.main-base {
    margin-top: 30px;
    padding: 20px 0;
}